name: vilnius-hardcore

services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
      POSTGRES_EXTENSIONS: unaccent
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./src/lib/server/db/migrations/0000_init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pgdata: