@import "@fontsource/courier-prime";
@import "@fontsource/fira-mono";

:root {
  --font-body: "Fira Mono", "Courier New", "Courier Prime", monospace;
  --font-mono: "Fira Mono", "Courier Prime", monospace;
  --color-bg: #111;
  --color-text: #090;
  --color-text-2: #0f0;
  --color-text-3: #050;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background: #111;
}

h1,
h2,
p {
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--color-text-2);
  text-decoration: none;
}

a:hover {
  background: var(--color-text-2);
  color: #111;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

h3 {
  font-size: 1rem;
}

hr {
  margin-left: 0px;
  width: 15rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(10, 10, 10, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(20, 20, 20, 0.25);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text-2);
}

pre.inline {
  display: inline;
}

.text-column,
section {
  display: flex;
  max-width: 40rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 5em 0 5em;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-text);
}

button {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-text-2);
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button:hover {
  background: var(--color-text-2);
  color: #111;
  text-decoration: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

strong,
button.post.action:hover {
  color: var(--color-text-2);
}

a:hover strong {
  background: var(--color-text-2);
  color: #111;
  text-decoration: none;
}

.dim {
  color: var(--color-text-3);
}

button.post.action {
  color: var(--color-text-1);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

label {
  display: block;
  margin-top: 1em;
}

form {
  margin-bottom: 2em;
}

form input {
  margin-top: 0.83em;
  margin-bottom: 0.5em;
  background-color: #1c1c1c;
  border: 1px solid rgba(0, 0, 0, 0);
  color: var(--color-text-2);
  font-weight: 400;
  font-size: 1rem;
  padding: 12px 10px;
}

form input:focus {
  border: 1px solid var(--color-text-2);
  outline: none;
}

form textarea {
  margin-top: 0.83em;
  margin-bottom: 0.5em;
  background-color: #1c1c1c;
  border: 1px solid rgba(0, 0, 0, 0);
  color: var(--color-text-2);
  font-weight: 400;
  font-size: 1rem;
  padding: 12px 10px;
  width: 20em;
  height: 15rem;
}

form textarea:focus {
  border: 1px solid var(--color-text-2);
  outline: none;
}

ul {
  list-style: square;
  padding-left: 1.5em;
}
