@import "@fontsource/courier-prime";
@import "@fontsource/fira-mono";

:root {
  --font-body: "Fira Mono", "Courier New", "Courier Prime", monospace;
  --font-mono: "Fira Mono", "Courier Prime", monospace;
  --color-bg: #040204;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  color: var(--color-text);
  min-height: 100vh;
  margin: 0;
  background: var(--color-bg);
}

h1,
h2,
p {
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

h2.title {
  margin-bottom: 0.25em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:has(> strong) {
  color: var(--color-text-2);
}

a:hover:not(:has(img)) {
  background: var(--color-text-2);
  color: var(--link-hover-color);
  text-decoration: none;
}

p a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

h3 {
  font-size: 1rem;
  overflow-wrap: anywhere;
}

hr {
  margin-left: 0px;
  width: 15rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(20, 20, 20, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(20, 20, 20, 0.25);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text-2);
}

.inline {
  display: inline;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-text);
  accent-color: var(--color-text-2);
}

button {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-text-2);
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button:hover {
  background: var(--color-text-2);
  color: var(--color-bg);
  text-decoration: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 780px) {
  h1 {
    font-size: 2.4rem;
  }
}

strong {
  color: var(--color-text-2);
  font-weight: 700;
}

div.actions {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

div.actions form {
  margin-bottom: 0;
}

.post.action:hover {
  color: var(--color-text-2);
}

a:hover strong {
  background: var(--color-text-2);
  color: var(--link-hover-color);
  text-decoration: none;
}

.dim {
  color: var(--color-text-3);
}

hr {
  border-color: var(--color-text-2);
  color: var(--color-text-2);
}

.post.action {
  color: var(--color-text);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

label {
  display: block;
  margin-top: 1em;
}

form {
  margin-bottom: 2em;
}

form input {
  margin-top: 0.83em;
  margin-bottom: 0.5em;
  background-color: #1c1c1c;
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 3px;
  color: var(--form-text-color);
  font-weight: 400;
  font-size: 1rem;
  padding: 12px 10px;
}

::selection {
  color: var(--link-hover-color);
  background: var(--color-text-2);
}

form input:focus {
  border: 1px solid var(--form-border-color);
  outline: none;
}

form textarea {
  margin-top: 0.83em;
  margin-bottom: 0.5em;
  background-color: #1c1c1c;
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 3px;
  color: var(--form-text-color);
  font-weight: 400;
  font-size: 1rem;
  padding: 12px 10px;
  max-width: 25em;
  min-width: 12.5em;
  width: 40vw;
  height: 10rem;
}

form textarea:focus {
  border: 1px solid var(--form-border-color);
  outline: none;
}

ul {
  list-style: square;
  padding-left: 1.5em;
}

post div.content img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1em;
  max-height: 65vh;
}

event div.event-description img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1em;
  max-height: 65vh;
}

event div.event-description p {
  margin-bottom: 0;
  margin-top: 0;
}

.font-size-small {
  font-size: 0.8em;
  font-weight: 200;
}

iframe {
  max-width: 100%;
}

.opaque {
  opacity: 0;
  cursor: default;
}

div.meta-info {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

hr.long {
  width: 100%;
  color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  margin-top: 2em;
  margin-bottom: 2em;
}

ul.item-list {
  padding-left: 0;
}

ul.item-list li {
  list-style: none;
  margin-bottom: 2em;
}

div.center-block {
  margin: 2em;
  display: flex;
  justify-content: center;
}

div.text-block {
  margin-bottom: 1em;
}

p.align-right {
  text-align: right;
}
